.jumbotron {
    background-image: url(/imagenes/hotel.jpg);
    background-size: cover;
    color: whitesmoke;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px; 
}

.btn-mas{
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
