$yellow: #fffa19;
$blue: #c5d6e3;
$black: #141414;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-image: url(/imagenes/hotel.jpg);
    background-size: cover;
    color: $black;
    @include margenes(50px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(20px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px); 
}

.btn-mas{
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}