.jumbotron {
  background-image: url(/imagenes/hotel.jpg);
  background-size: cover;
  color: #141414;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #c5d6e3;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-mas {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
